.header {
  background-image: url('../images/Backgroundpapyrus.png');
  background-size: cover;
  background-position: center;
  position: relative;
}


h1 {
 font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav .p {font-family: Arial, Helvetica, sans-serif;
}

.card-img {
width: fit-content;
}

